
pre, div.codearea { // from the wiki
        padding: 1em;
        margin: 2em 1.5em 2em 1.5em;
        line-height: 1.5em;
        background-color: #f5f6f7;
        border: 1px solid #d2d3d7 ;
        font-family: monospace;
        font-size: 100%;
        line-height: 2em;
}


