<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     prefix="adms: http://www.w3.org/ns/adms#
             admssw: http://purl.org/adms/sw/
             dcterms: http://purl.org/dc/terms/
             doap: http://usefulinc.com/ns/doap#
             foaf: http://xmlns.com/foaf/0.1/
             owl: http://www.w3.org/2002/07/owl#
             rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
             rdfs: http://www.w3.org/2000/01/rdf-schema#
             schema: http://schema.org/
             spdx: http://www.spdx.org/rdf/terms#
             xml: http://www.w3.org/XML/1998/namespace
             xsd: http://www.w3.org/2001/XMLSchema#">
<head>
	<title>{% if title %}{{ title }} &middot; {% endif %}Semantic Debian</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="noindex" />
<link href="/static/css/debian.css" rel="stylesheet" type="text/css">
<link href="/static/css/rdf.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="/static/img/favicon.ico">
{% if resource %}
<link rel="alternate" type="application/rdf+xml" href="{{ resource.uri }}.xml" title="RDF/XML Serialisation"/>
<link rel="alternate" type="text/turtle" href="{{ resource.uri }}.ttl" title="Turtle Serialisation"/>
<link rel="alternate" type="text/n3" href="{{ resource.uri }}.n3" title="N3 Serialisation"/>
{% endif %}
</head>
<body{% if resource %} contextmenu="alternative-menu"{% endif %}>
<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Semantic Debian">Semantic Debian</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="http://www.debian.org" title="Debian Home"><img src="/static/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/dataset">The Dataset</a></li>
       <li><a href="/usage">Usage Guide</a></li>
       <li><a href="/debian">Browse</a></li>
       <li><a href="/dumps">Download</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;Semantic Debian{% if breadcrumb %}{{ breadcrumb }}{% endif %}</p>
</div>

<div id="content"> 
	{% block content %}
	{% endblock content %}
</div>

<div id="footer">

{% if resource %}
<menu type="context" id="alternative-menu">
	<menu label="Get alternative format">
		<menuitem onclick="window.location = '{{ resource.uri }}.xml'" label="Get as RDF/XML"></menuitem>
		<menuitem onclick="window.location = '{{ resource.uri }}.ttl'" label="Get as Turtle"></menuitem>
		<menuitem onclick="window.location = '{{ resource.uri }}.n3'" label="Get as N3"></menuitem>
	</menu>
	<menu label="Extract RDFa">
		<menuitem onclick="window.location = 'http://www.w3.org/2012/pyRdfa/extract?uri={{ resource.uri | urlencode }}&format=xml&rdfagraph=output&vocab_expansion=false&rdfa_lite=false&embedded_rdf=true&space_preserve=true&vocab_cache=true&vocab_cache_report=false&vocab_cache_refresh=false'" label="As RDF/XML"></menuitem>
		<menuitem onclick="window.location = 'http://www.w3.org/2012/pyRdfa/extract?uri={{ resource.uri | urlencode }}&format=turtle&rdfagraph=output&vocab_expansion=false&rdfa_lite=false&embedded_rdf=true&space_preserve=true&vocab_cache=true&vocab_cache_report=false&vocab_cache_refresh=false'" label="As Turtle"></menuitem>
		<menuitem onclick="window.location = 'http://www.w3.org/2012/pyRdfa/extract?uri={{ resource.uri | urlencode }}&format=json&rdfagraph=output&vocab_expansion=false&rdfa_lite=false&embedded_rdf=true&space_preserve=true&vocab_cache=true&vocab_cache_report=false&vocab_cache_refresh=false'" label="As JSON-LD"></menuitem>
		<menuitem onclick="window.location = 'http://www.w3.org/2012/pyRdfa/extract?uri={{ resource.uri | urlencode }}&format=nt&rdfagraph=output&vocab_expansion=false&rdfa_lite=false&embedded_rdf=true&space_preserve=true&vocab_cache=true&vocab_cache_report=false&vocab_cache_refresh=false'" label="As N-Triples"></menuitem>
	</menu>
</menu>

<p>Alternative formats: <a href="{{ resource.uri }}.xml">RDF/XML</a>, <a href="{{ resource.uri }}.ttl">Turtle</a> or <a href="{{ resource.uri }}.n3">N3</a>.</p>

<hr />

{% endif %}

<div id="fineprint">
    <p>
    This service is still a work in progress, please expect it to be broken.
    <br />
    The source code powering this service is available <a href="http://anonscm.debian.org/cgit/collab-maint/semantic-debian.git">here</a>.
    <br />
    Contact: <a href="mailto:irl@fsfe.org">Iain R. Learmonth</a> or #debian-qa on irc.debian.org.
    <br />
    Debian is a registered trademark of <a href="http://www.spi-inc.org/">Software in the Public Interest</a>.
    </p>
</div>
</div>

</body>
</html>

