{% extends "base.html" %}
{% block content %}
<h1>Semantic Debian</h1>

<a href="http://www.w3.org/RDF/" title="RDF Resource Description Framework">
<img border="0" src="/static/img/rdf_w3c_icon.128.gif" style="float: right;"
alt="RDF Resource Description Framework Icon"/></a>

<p><b>Semantic Debian</b> is a <em>work-in-progress</em> project to provide a <a
href="http://en.wikipedia.org/wiki/Semantic_Web">Semantic Web</a> frontend to
<a href="https://udd.debian.org/">Ultimate Debian Database</a>. This interface
will replace the <a
href="https://wiki.debian.org/qa.debian.org/pts/RdfInterface">deprecated
interface</a> provided by the <a href="http://packages.qa.debian.org">old
package tracking system</a>.</p>

<h2>The Dataset</h2>

<p>The dataset is still being actively developed, and the URIs and vocabularies
in use should be considered volatile. For more details on how the dataset is
structured, see the <a href="/dataset">dataset documentaion</a> page.</p>

<p>The dataset currently contains data about:</p>

<ul>
	<li>Debian releases</li>
	<li>Packaging projects</li>
	<li>Package releases</li>
	<li>Maintainer profiles</li>
	<li>VCS repositories</li>
</ul>

<h2>Web Interface</h2>

<p>You can <a href="/debian">browse the dataset</a> online using the HTML
interface. Content negotiation is available for all semantic resources in the
dataset (unless it's currently broken - again, still being actively developed)
and so you can also retrieve resource data as Turtle or RDF/XML. See the
<a href="/usage#cn">content negotiation examples</a> for more details about
using content negotiation.</p>

{% endblock content %}

