{% extends "base.html" %}
{% block content %}
<h1>Semantic Debian</h1>
<p><b>Semantic Debian</b> is a work-in-progress project to provide a
Semantic Web frontend to Ultimate Debian Database. This interface will replace
the deprecated interface provided by the old package tracking system.</p>
<h2>Initial goals:</h2>
<ul>
   <li>Recreate the outputs provided by the old package tracker (<a href="http://bugs.debian.org/685605">#685605</a>)</li>
   <li>Look at integration with (or replacement of) <a href="http://webid.debian.net/">webid.debian.net</a></li>
   <li>RDF/XML, Turtle and HTML+RDFa outputs based on HTTP content negotiation</li>
</ul>
{% endblock content %}

